* {
    font-family: 'Roboto', 'san-serif';
}

.backg {
    background-color: #cbf3f0;
}

#logo {
    height: 60px;
    padding: 0;
    margin: 0;
}

.cardbackg {
    background-color:  #2ec4b6;
    color: #00171f;
}